name: Asperg Auto Scan

on:
  schedule:
    # Führt den Scan Mo-Fr jede Stunde von 9 bis 18 Uhr aus (UTC)
    - cron: '0 8-17 * * 1-5'
  workflow_dispatch: # Erlaubt es dir, den Scan manuell zu starten

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code auschecken
        uses: actions/checkout@v3

      - name: Python installieren
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Abhängigkeiten installieren
        run: |
          pip install yfinance pandas requests beautifulsoup4 pytickersymbols

      - name: Scanner ausführen
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
